Java/JDI/jdi-uitest-web/build/
Java/Tests/jdi-uitest-tutorialtests/.logs/
Java/Tests/jdi-uitest-web-examples/allure-results/
Java/Tests/jdi-uitest-web-examples/build/
Java/Tests/jdi-uitest-tutorialtests/build/
Java/JDI/jdi-uitest-core/build/
Java/Tests/jdi-uitest-webtests/.logs/
Java/Tests/jdi-uitest-webtests/allure-results/
Java/Tests/jdi-uitest-webtests/build/
Java/Tests/jdi-uitest-webtests/target/
Java/JDI/jdi-matchers/build/
Java/JDI/jdi-commons/build/
Java/JDI/jdi-uitest-web/.gradle/
Java/JDI/jdi-uitest-core/gradle/
Java/JDI/jdi-matchers/.gradle/
Java/JDI/jdi-uitest-core/.gradle/3.4.1/
Java/JDI/.gradle/
Java/JDI/.idea/
Java/JDI/jdi-commons/.gradle/
Java/Tests/jdi-uitest-tutorialtests/target/
Java/Tests/jdi-uitest-web-examples/.logs/
Java/.idea/
Java/JDI/jdi-uitest-core/.gradle/
Java/.gradle/
